@font-face {
  font-family: Minecraftia;
  src: url('assets/font/Minecraftia.ttf');
}

@font-face {
  font-family: 소야논8;
  src: url('assets/font/소야논8.ttf')
}

* {
  padding: 0;
  margin: 0;
  font-family: Minecraftia, 소야논8, Arial, Helvetica, sans-serif;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 1.4vw;
}

body {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

button {
  padding: 2px;
  border: 4px solid transparent;
  border-image: url('assets/gui/button.png') 2 fill stretch;
  cursor: pointer;
  position: absolute;

  color: #4D4D4D;
  font-size: 1.4vw;
  font-style: normal;
  text-align: center;

  outline: none;
}

button:hover {
  border-image: url('assets/gui/button_hover.png') 2 fill stretch;

  color: #F1F1F1;
}

button:active {
  border-image: url('assets/gui/button_hover_pressed.png') 2 fill stretch;

  text-shadow: 0px 2px #F1F1F1;
  color: transparent;
}

input {
  border: 4px solid transparent;
  border-image: url('assets/gui/textedit.png') 2 fill stretch;

  padding-left: 4px;

  color: #F1F1F1;
  outline: none;
}

input:hover {
  border-image: url('assets/gui/textedit_hover.png') 2 fill stretch;
}

.header {
  background-color: #C6C6C6;
  border-bottom: solid 4px #585658;
  box-shadow: 0px 2px #131313;
}

.background-panel {
  padding: 0.6vw;
  border: 0.6vw solid transparent;
  border-image: url('assets/gui/background_panel.png') 4 fill stretch;
  position: absolute;

  outline: none;
}

.item-cell {
  background-image: url('assets/gui/item_cell.png');
  background-repeat: no-repeat;
  background-size: 3.6vw 3.6vw;

  width: 3.2vw;
  height: 3.2vw;
  padding: 0.2vw 0.2vw;

  outline: none;
}

.item-cell:hover {
  background-image: url('assets/gui/item_cell_hover.png')
}

.player-preview {
  border: 0.2vw solid transparent;
  border-image-source: url('assets/gui/item_cell.png');
  border-image-slice: 1;
  border-image-repeat: stretch;
}

.flat-button {
  background-color: #C6C6C6;
  color: #131313;
  float: left;
  margin-left: 8px;
  line-height: 28px;
  margin-top: 6px;
}

.flat-button:hover {
  color: #F1F1F1;
}

.flat-button:active {
  background-color: #7D7D7D;
  box-shadow: -8px 0px #7D7D7D;
  color: #131313;
}

.background {
  position: fixed;
  width:100vw;
  height:100vh;
  z-index:999;
  background-image: url("assets/gui/options_background.png");
  background-size: 3.2vw 3.2vw;
  background-repeat: repeat;
  text-align: center;
}

img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
