@font-face {
  font-family: Minecraftia;
  src: url('assets/font/Minecraftia.ttf');
}

@font-face {
  font-family: 갈잎9;
  src: url('assets/font/갈잎9.ttf')
}

* {
  padding: 0;
  margin: 0;
  font-family: Minecraftia, 갈잎9, Arial, Helvetica, sans-serif;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;

  font-size: 1.4vw;
  text-shadow: 2px 2px #000000;
}

body {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

button {
  padding: 2px;
  border: 4px solid transparent;
  border-image: url('assets/gui/button.png') 2 fill stretch;
  cursor: pointer;
  position: absolute;

  color: rgb(255, 255, 255);
  font-size: 1.4vw;
  font-style: normal;
  text-align: center;
  text-shadow: 0.1vw 0.1vw 0 gray;

  outline: none;
  z-index: 999;
}

button:hover {
  border-image: url('assets/gui/button_hover.png') 2 fill stretch;

  color: #fbffc3
}

/*button:active {
  border-image: url('assets/gui/button_pressed.png') 2 fill stretch;
}*/

input {
  border: solid lightgray;
  border-width: 0.2vw;
  background: black;
  color: white;
  padding: 1vw;
}

.background {
  position: fixed;
  width:100vw;
  height:100vh;
  z-index:999;
  background-image: url("assets/gui/options_background.png");
  background-size: 3.2vw 3.2vw;
  background-repeat: repeat;
  text-align: center;
}

img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
